:root{
    --color-dark:#1b1b1b;
    --color-light: #ffffff;
    --color-gold: #ffcc00;
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-color: var(--color-light);
    letter-spacing: .05rem;
}

.navbar{
    min-height: 5rem;
}

section{
    background-color: var(--color-gold)
}

footer{
    background-color: var(--color-gold);
}
.navbar-brand{
    color: red;
}

.bg-light{
    background-color: var(--color-light);
}

.lead-xl{
    font-size: 1.75rem;

}

.lead{
    font-size: 1.2rem;
}

.container{
    color: #1b1b1b;
}

.nav-link{
    margin-left: 35px;
}

.fa-magnifying-glass { 
    color: #1b1b1b;
}

.sideways {
    display: block;
    margin: 8rem 0;
}

.border-right {
    border-right: 1px solid red !important;
}

.alfajor-img{
    max-height: 150px;
}


.gallery{
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img5 img6 img7" "img5 img5 img8 img8";
    gap: .8em;
}

.gallery-title{
    text-align: center;
    font-size: 3rem;
    padding: .8em 0 .4em;

}

.gallery_picture{
    position:relative;
    cursor:pointer;
    overflow: hidden;
}

.gallery_picture::before{
    content: "";
    transition: transform 2.s;
    transform: scaleY(0);
}

.gallery_picture:hover::before{
    content: "Havanna";
    color: #ac2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f4a6;
    transform: scaleY(1);
    transition: transform .4s;

}

.gallery_img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.gallery-picture-g1{
    grid-area: img1;
}

.gallery-picture-g2{
    grid-area: img2;
}

.gallery-picture-g3{
    grid-area: img3;
}

.gallery-picture-g4{
    grid-area: img4;
}

.gallery-picture-g5{
    grid-area: img5;
}

.gallery-picture-g6{
    grid-area: img6;
}

.gallery-picture-g7{
    grid-area: img7;
}

.gallery-picture-g8{
    grid-area: img8;
}


@media (max-width: 1199.98px) {
    .sideways{
       margin: 2rem 0; 
    }
    .lead-xl{
        font-size: 1.25rem;
    }
    .lead{
        font-size: 0.9rem;
    }
}

@media (max-width: 991.98px) {
    .content{
        padding: 5rem 0;
    }
    
}

@media (max-width: 768px){
    .gallery-title{
        font-size: 2rem;
        padding: .8em 0 .4em;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img4" "img4 img4" "img5 img5" "img5 img5" "img6 img7" "img8 img8" "img8 img8";
    }

    .gallery_picture::before{
        font-size: 1rem;
    }

}