@media (max-width: 1199.98px) {
    .sideways{
       margin: 2rem 0; 
    }
    .lead-xl{
        font-size: 1.25rem;
    }
    .lead{
        font-size: 0.9rem;
    }
}

@media (max-width: 991.98px) {
    .content{
        padding: 5rem 0;
    }
    
}

@media (max-width: 768px){

    .navbar .navbar-brand{
        width: 12rem;
    }
    .gallery-title{
        font-size: 2rem;
        padding: .8em 0 .4em;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img4" "img4 img4" "img5 img5" "img5 img5" "img6 img7" "img8 img8" "img8 img8";
    }

    .gallery .gallery_picture:hover::before{
        font-size: 1.2rem;
    }

}