@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

$fontOswald: 'Oswald', sans-serif;

$color-dark:#1b1b1b;
$color-light: #ffffff;
$color-gold: #ffcc00;
$color-red:#DC0808;
$color-red2:#C70039;
$color-blue:#5b40f4a6;